@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
       url('../fonts/MaisonNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Demi.woff2') format('woff2'),
       url('../fonts/MaisonNeue-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
       url('../fonts/MaisonNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

* {box-sizing: border-box;}

body, html {
	min-height: 100vh;
	margin: 0;
	background: #f5f6f7;
	font-family: "Times", "Times New Roman", serif;
	font-weight: normal;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: Maison Neue;
	font-size: 100%;
	letter-spacing: 0.05rem;
	color: #303846;
}
@media screen and (min-width: 360px) {
	body {
		font-size: 112.5%;
	}
}
body.dialogIsActive {
	overflow: hidden;
}

::-moz-selection {
  background-color: #151A1F;
  color: #fff;
}
::selection {
  background-color: #151A1F;
  color: #fff;
}




/* Utilities */
.u-menu-padding {}
@media screen and (min-width: 769px) {
	.u-menu-padding {
		padding-right: 12rem !important;
	}
}




/* Headlines */
h1, h2 {
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: #fff;
	margin-bottom: 1rem;
}
h1 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.25rem;
	color: #d19f33;
}
h2 {
	margin-top: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 500;
}
@media screen and (min-width: 769px) {
	h2 { font-size: 5rem; line-height: 5rem; }
}
h3 {
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-weight: 500;
	font-size: 1.5rem;
	opacity: 0.1;
}
@media screen and (min-width: 360px) {
	h3 {
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 769px) {
	h3 {
		margin-top: -3rem;
		margin-bottom: 3rem;
		font-size: 6rem;
	}
}
h3 .number {
	position: absolute;
	left: -1.25rem;
	font-weight: normal;
}
@media screen and (min-width: 769px) {
	h3 .number {
		left: -2rem;
	}
}
h4 {
	position: relative;
	font-size: 1.5rem;
	font-weight: 500;
	color: #151A1F;
}



a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid #d19f33;
	/*opacity: 0.9;*/
}
a:hover {
	border-bottom-width: 2px;
	color: #d19f33;
}

strong {
	font-weight: 500;
}




/* Navigation */
.nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background: #1C2229;
	background: rgba(28, 34, 41, 0.8);
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(8px);
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	overflow-x: scroll;
}
@media screen and (min-width: 478px) {
	.nav {
		padding: 0 3rem;
	}
}
@media screen and (min-width: 768px) {
	.nav {
		padding: 0 6rem;
	}
}

.nav .monogram {
	padding: 0.5rem;
	border-bottom: none;
}
.nav .monogram img {
	display: block;
}


.menu {
	display: flex;
	min-width: 15rem;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2rem;
	font-size: 1.125rem;
}
/* .menu .intro-anchor {
	margin-left: 2.8rem;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	pointer-events: all;
	color: #303846;
}
.menu .intro-anchor.isActive {
	opacity: 0;
	pointer-events: none;
}
@media screen and (max-width: 479px) {
	.menu {
		color: #f5f6f7;
		opacity: 0.5;
	}
	.intro-anchor {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		z-index: 6;
		width: 3rem;
		height: 3rem;
		padding-top: 0.125rem;
		border-radius: 50%;
		border: none;
		background: #fff;
		box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
		line-height: 3rem;
		text-align: center;
		font-size: 1.5rem;
	}	
} */
.menu a {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 3rem;
	padding: 0 1rem;
	color: rgba(245, 246, 247, 0.5);
	text-decoration: none;
	border-bottom: none;
	white-space: nowrap;
}
.menu a:hover {
	color: #fff;
}
.menu a:focus {
	outline: none;
}
/* .menu > li { counter-increment: customlistcounter; }
.menu > li:after {
	content: "0" counter(customlistcounter);
	float: left;
	opacity: 0.25;
} */
.menu > li a:after {
	content: "";
	display: inline-block;
	width: 2.5rem;
	height: 2px;
	margin-top: -10px;
	margin-bottom: 8px;
	background: #D19F33;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.menu > li:first-child { counter-reset: customlistcounter; }
.menu li.isActive a {
	color: #fff;
	font-weight: 500;
}
.menu li.isActive a:after {
	opacity: 1;
}
/* .menu li.isActive:before {
	margin-right: 0;
	margin-left: 1.5rem;
} */










.phone {
	position: absolute;
	right: 10vw;
	top: 10vw;
	display: none;
	width: calc(50vh - 10vw);
	height: calc(100vh - 20vw);
	background: #151A1F;
	background: #f5f6f7;
	border-radius: 2vw;
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);

	transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

	animation: shaper 8s linear infinite;
}

@keyframes shaper {
	0% {
		width: calc(50vh - 10vw);
		height: calc(100vh - 20vw);
		border-radius: 2vw;
	}
	15% {
		width: calc(50vh - 10vw);
		height: calc(100vh - 20vw);
		border-radius: 2vw;
	}
	20% {
		width: 12rem;
		height: 12rem;
		border-radius: 2.5rem;
	}
	45% {
		width: 12rem;
		height: 12rem;
		border-radius: 2.5rem;
	}
	50% {
		width: 32rem;
		height: 20rem;
		border-radius: 1rem;
	}
	75% {
		width: 32rem;
		height: 20rem;
		border-radius: 1rem;
	}
	80% {
		width: calc(50vh - 10vw);
		height: calc(100vh - 20vw);
	}
}



/* Section */
section {
	position: relative;
	padding: 4rem 2rem 2rem;
}
@media screen and (min-width: 769px) {
	section {
		padding: 7rem;
	}
}
section p {
	max-width: 40rem;
	font-weight: normal;
	line-height: 1.75rem;
	letter-spacing: 0.03rem;
	opacity: 0.8;
}
@media screen and (min-width: 360px) {
	section p { line-height: 2rem; }
}



/* Blockquote */
blockquote {
	position: relative;
	max-width: 36rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1rem;
	border-left: 3px solid #d19f33;
}
blockquote p {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5rem;
	color: #151A1F;
	opacity: 1;
	hyphens: none;
}
@media screen and (min-width: 360px) {
	blockquote p {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}	
}
@media screen and (min-width: 769px) {
	blockquote {
		padding-left: 3rem;
	}
	blockquote p {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}	
}



/* Item */
.item {
	position: relative;
	margin-bottom: 3rem;
	padding: 0 0.5rem;
}
.item:before {
	content: "";
	display: block;
	width: 3.5rem;
	height: 3px;
	margin-bottom: 1.5rem;
	border-top: 3px solid #d19f33;
}
.item h4 {
	margin-bottom: 1rem;
}



/* Section-specific: #intro */
#intro {
	height: calc(100vh - 3rem);
	padding: 10vw;
	user-select: none;
	background: #151A1F;
	background: #1C2229; /* Increased contrast slightly */
}
#intro > * {
	position: relative;
	z-index: 1;
}
#intro canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
}
#intro .intro-link {
	position: absolute;
	bottom: 0;
	left: 1rem;
}
#intro .intro-link a {
	display: block;
	width: 4.5rem;
	height: 4rem;
	border: none;
	text-decoration: none;
}
@media screen and (min-width: 769px) {
	#intro .intro-link {
		left: 50%;
		margin-left: -1.25rem;
	}
}
#intro .intro-link svg {
	position: absolute;
	top: 0.5rem;
	left: 1rem;

	animation: animator 2s linear infinite;
}
#intro .intro-link svg:last-child {
	animation-delay: 1s;
}
@keyframes animator {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	25% {
		transform: translateY(0);
		opacity: 0.5;
	}
	30% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(1rem);
		opacity: 0;
	}
}





/* Section-specific: #latest */
#updates {
	background: #D7B15B;
}
#updates h3 {
	display: none;
}
#updates h4 {
	font-size: 2rem;
}
#updates .owl-loaded {
	display: flex;
	flex-direction: column;
}
#updates .owl-stage-outer {
	order: 2;
}
#updates .owl-nav {
	order: 1;
}
#updates .owl-prev,
#updates .owl-next {
	position: absolute;
	top: 50%;
	left: -3.5rem;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 0;
}
#updates .owl-prev:before,
#updates .owl-next:before {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	margin-left: 1rem;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: rotate(-45deg);
}
#updates .owl-next:before {
	margin-left: 0.5rem;
	transform: rotate(135deg);
}
#updates .owl-next {
	left: auto;
	right: -3.5rem;
}
#updates .owl-prev.disabled:before,
#updates .owl-next.disabled:before {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	cursor: default;
	cursor: not-allowed;
}
#updates .owl-dots {
	order: 1;
	margin-bottom: 2rem;
}
#updates .owl-dots .owl-dot {
	display: inline-block;
	width: 3.5rem;
	height: 3px;
	margin-right: 1rem;
	border-top: 3px solid rgba(0, 0, 0, 0.1);
}
#updates .owl-dots .owl-dot:not(.active):hover {
	border-top-color: rgba(0, 0, 0, 0.2);
}
#updates .owl-dots .owl-dot.active {
	border-top-color: #fff;
}
#updates .owl-dots .owl-dot:focus,
#updates .owl-prev:focus,
#updates .owl-next:focus {
	outline: none;
}





/* Section-specific: #services */
section#services:before {
	content: "";
	position: absolute;
	top: 37%;
	left: 0;
	background: #fff;
	width: 90%;
	height: 60%;
}
@media screen and (min-width: 769px) {
	section#services:before {
		top: 50%;
		width: 80%;
		height: 40%;
	}
}



/* Section-specific: #projects */
#projects .project {
	position: relative;
	flex: 0 1 100%;
	padding: 1.25rem 2rem;
	background: white;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
	transition: box-shadow 0.2s ease-in-out;
}
#projects .project:hover {
	background: #FBFBFC;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}



/* Section-specific: #story */
section#story {
	margin-bottom: 8rem;
}
section#story:before {
	content: "";
	position: absolute;
	top: 13rem;
	right: 0;
	background: #fff;
	width: 80%;
	height: 60%;
}
@media screen and (min-width: 769px) {
	section#story:before {
		top: 11rem;
		width: 60%;
		height: 66%;
	}
}



/* Section-specific: #partnerships */
section#partners:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 46%;
	height: 100%;
}




/* Section-specific: #careers */
#careers .positions {
	display: flex;
	margin: 2rem -2rem 2rem;
	align-items: stretch;
	flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
	#careers .positions { margin: 2rem -0.5rem 2rem; }
}
#careers .position {
	position: relative;
	flex: 0 1 100%;
	padding: 1.25rem 2rem;
	margin: 1px 0;
	background: white;
	cursor: pointer;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
	transition: box-shadow 0.2s ease-in-out;
}
@media screen and (min-width: 480px) {
	#careers .position { flex: 0 1 calc(50% - 1rem); margin: 0.5rem; }
}
@media screen and (min-width: 769px) {
	#careers .position { padding: 1.25rem 1.25rem 3rem 1.25rem; margin-bottom: 0.5rem; }
}
@media screen and (min-width: 1024px) {
	#careers .position { flex: 0 1 calc(33% - 1.5rem); }
}
#careers .position + .position {
	border-top: 2px solid #f5f6f7;
}
#careers .position:not(.isExpanded):hover {
	background: #FBFBFC;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}
#careers .position:after {
	content: "";
	position: absolute;
	right: 1.25rem;
	bottom: calc(50% - 0.375rem);
	width: 0.75rem;
	height: 0.75rem;
	border-right: 2px solid #d19f33;
	border-bottom: 2px solid #d19f33;
	transform: rotate(-45deg);
	transition: all 0.3s ease-out;
}
@media screen and (min-width: 769px) {
	#careers .position:after { bottom: 1.25rem; }
}
#careers .position.isExpanded:after {
	transform: rotate(225deg);
}
#careers .position.position--empty:after { display: none; }
#careers .position h4 { font-size: 1.25rem; line-height: 1.5rem; font-weight: 500; }


/* Dialog */
#careers .dialog-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	padding: 4rem 0 0;
	opacity: 0;
	transition: all 0.3s ease-in-out; 
	pointer-events: none;
}
@media screen and (min-width: 769px) {
	#careers .dialog-wrapper {
		padding: 7rem 18rem 0 7rem;
	}
}
body.dialogIsActive #careers .dialog-wrapper {
	opacity: 1;
	pointer-events: all;
}
#careers .dialog-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(21, 26, 32, 0.2);
}
#careers .dialog {
	position: absolute;
	z-index: 6;
	/*bottom: 0;
	left: 0;*/
	width: 100%;
	height: 100%;
	background: white;
	padding: 2rem;
	overflow: auto;
	transform: translateY(4rem);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 769px) {
	#careers .dialog {
		max-width: calc(100vw - 25rem);
	}
}
#careers .dialog.isActive {
	position: relative;
	transform: translateY(0);
	opacity: 1;
}
#careers .dialog .logo {
	height: 2rem;
	margin: 0.25rem 0 1rem;
	opacity: 0.15;
}
#careers .dialog h4 { margin-bottom: 2rem; }
/*@media screen and (max-width: 480px) {
	#careers .dialog p {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}*/
#careers .dialog .content p, ul, ol  {
	max-width: 40rem;
	margin-bottom: 1rem;
	letter-spacing: 0.03rem;
	font-size: 1rem;
	line-height: 1.5rem;
	opacity: 0.8;
}
@media screen and (min-width: 360px) {
	#careers .dialog .content p, ul, ol { font-size: 1.125rem; line-height: 1.75rem; }
}
#careers .dialog .content ul, ol {
	margin-top: -0.875rem;
	padding-left: 1.5rem;
	list-style: disc;
}

#careers .dialog-close {
	position: fixed;
	right: 1.5rem;
	top: 5.5rem;
	z-index: 7;
	display: inline-block;
	padding: 1rem;
	width: 3rem;
	height: 3rem;
	border: none;
	background: transparent;
	cursor: pointer;
}
@media screen and (min-width: 769px) {
	#careers .dialog-close {
		top: 8.5rem;
		right: 19.5rem;
	}
}
#careers .dialog-close:active, #careers .dialog-close:focus { outline: none; }
#careers .dialog-close:before,
#careers .dialog-close:after {
	content: "";
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	width: 2.25rem;
	height: 2px;
	background: #D19F33;
	transform-origin: top left;
	transform: rotate(45deg);
}
#careers .dialog-close:after {
	left: auto;
	right: 0.75rem;
	transform-origin: top right;
	transform: rotate(-45deg);
}




/* Section-specific: #get-in-touch */
#get-in-touch {
	background: #D7B15B;
}
#get-in-touch blockquote {
	margin-bottom: 2rem;
	padding-left: 0;
	border-left: none;
}
#get-in-touch blockquote p {
	font-weight: 500;
	color: #fff;
}
#get-in-touch h3 {
	color: #d19f33;
	opacity: 1;
}
#get-in-touch .colophon {
	margin: 3rem -2rem -2rem;
	padding: 1rem 2rem;
	background: rgba(21, 26, 31, 0.05);
	font-size: 0.875rem;
	color: rgba(21, 26, 31, 0.5);
}
@media screen and (min-width: 769px) {
	#get-in-touch .colophon {
		margin: 6rem -18rem -7rem -7rem;
		padding: 1rem 18rem 1rem 7rem;
	}
}

.button {
	display: inline-block;
	background: #fff;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	border: none;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
	transition: box-shadow 0.2s ease-in-out;
	font: inherit;
	font-weight: 500;
}
.button:hover {
	background: #FBFBFC;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.button--outline {
	border: 1px solid #D19F33;
	background: white;
	color: #D19F33;
}
.button.button--outline:hover {
	border-bottom-width: 1px;
	background: white;
}
