<nav role="navigation" class="nav">

	<a href="#top" class="monogram">
		<img src="{{ site.baseurl }}/images/monogram.svg" alt="" style="height: 2rem;" />
	</a>

	<ul class="menu">
		{% assign sections = site.sections | sort: 'order' %}
		{% for section in sections %}
			{% if section.slug != 'intro' and section.slug != 'updates' %}
				{% unless section.published == false %}
					<li><a href="#{{ section.slug }}">{{ section.title }}</a></li>
				{% endunless %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
